.app-header {
  background-color: #13d7f5;
  padding: 15px 30px;
  box-shadow: 0 2px 4px rgba(43, 41, 41, 0.1);
  width: 100%;
  box-sizing: border-box;
}
.app-header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}